# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env
.env.test
.env.local
.env.producao
.env.desenvolvimento
.env.*


# Build output
dist/
build/
.github/
.vscode/